* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
  padding: 1rem 0;
}

h2 {
  padding: .1rem 4rem;
}

hr {
  padding: .15rem 2rem;
  width: 50px;
  background: black;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  border-radius: 3px;
}

.container {
  display:  grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  gap: 1rem;
}

.container__first {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container__first:hover {
 transform: scale(0.95);
 transition: 2s ease-in;
 opacity: 0.75;
}

.container__footer {
  display: flex;
  justify-content: space-evenly;
 
}