@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

small {
  color: hsl(0, 0%, 55%);
  font-family: "Alata", sans-serif;
  text-align: right;
}

.navigation {
  background-image: url("./images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  height: 650px;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.header {
  position: absolute;
  z-index: 2;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 8rem;
}

.header__links {
  padding-left: 34rem;
}

.header__link {
  list-style-type: none;
  display: inline-block;
  padding: 0 0.5rem;
  font-family: "Alata", sans-serif;
}

.anchor__link {
  color: #fff;
  text-decoration: none;
}

.anchor__link:hover,
.footer__anchor {
  position: relative;
}

.anchor__link:hover::after,
.footer__anchor:hover::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  left: 0.62em;
  top: 2rem;
  background-color: #fff;
  transition-delay: 4s;
  text-align: center;
}

.heading {
  border: 2px solid #fff;
  margin: 8rem;
  width: 600px;
}

.heading__title {
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem 2.6rem;
  line-height: 1;
  color: #fff;
  font-weight: normal;
}

.container {
  margin: 8rem;
}

.container__image {
  position: relative;
}

.container__text {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 60rem;
  right: 5rem;
  background: #fff;
  padding: 5rem;
}

.container__heading,
.creation__heading {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.container__description {
  font-family: "Alata";
  padding: 1.5rem 0;
  opacity: 0.5;
}

.creation {
  margin: 0 8rem;
}

.creation__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creation__flex .btn {
  background: #fff;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Alata", sans-serif;
  outline: none;
  padding: 8px 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 2s ease-in;
}

.creation__flex .btn:hover {
  background: #000;
  color: #fff;
}

.creation .creation__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 6rem 0;
}

.creation__grid .grid__box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 450px;
  cursor: pointer;
  color: #fff;
}

.grid__box {
  box-shadow: inset 255px 0 0 rgba(0, 0, 0, 0.2);
}

.grid__box:hover {
  position: relative;
  color: #000;
}

.grid__box:hover::before {
  content: "";
  position: absolute;
  z-index: 0;
  transition: 2s ease-in;
  width: 98%;
  height: 450px;
  background: hsl(0, 0%, 55%);
  opacity: 0.7;
  transform: translate(-2rem, 2rem);
}

.creation__grid .box-1 {
  background-image: url("./images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}
.creation__grid .box-2 {
  background-image: url("./images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-3 {
  background-image: url("./images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-4 {
  background-image: url("./images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-5 {
  background-image: url("./images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-6 {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-7 {
  background-image: url("./images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.creation__grid .box-8 {
  background-image: url("./images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  padding: 2rem;
}

.grid__heading {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: normal;
  position: relative;
  z-index: 100;
}

.footer {
  background: rgba(0, 0, 0, 1);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__navigation {
  margin: 4rem 8rem;
  padding-top: 2rem;
}

.footer__link {
  display: inline-block;
  padding: 1rem 2rem 1rem 0rem;
}

.footer__anchor {
  color: #fff;
  font-family: "Alata", sans-serif;
  text-decoration: none;
}

.footer__copy {
  margin-right: 8rem;
}

.footer__images {
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.images__logo {
  padding-left: 1rem;
}

.images__logo:hover {
  position: relative;
}

.images__logo:hover::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  left: 1.3em;
  top: 1.8rem;
  background-color: #fff;
  transition-delay: 4s;
  text-align: center;
}
