@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/*  NORMALIZING THE ELEMENTS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 48%);
}

body {
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

small {
  font-size: 13px;
  font-weight: normal;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* box-shadow: inset 0px 50px 0 rgba(0, 0, 0, 0.5); */
  height: 65vh;
  position: relative;
  padding: 2rem 10rem;
}

/* .header::after {
  content: '';
  position: absolute;
  z-index: 1;
  box-shadow: inset 120px 100px 250px #0000, inset -120px -80px 250px #0000;
  top:0;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(0, 0, 0, 0.6);

} */

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links .header__link {
  color: #fff;
  display: inline-block;
  list-style-type: none;
}

.anchor__link {
  text-decoration: none;
  padding: 0 1rem;
}

.master__card {
  background-color: #fff;
  border-radius: 10px;
  height: 250px;
  position: absolute;
  text-align: center;
  top: 19rem;
  width: 680px;
}

.card__img {
  left: 20rem;
  position: absolute;
  top: -1.7rem;
}

.card__heading {
  font-size: 1.4rem;
  padding: 3rem 1rem 0.5rem 1rem;
}

.card__description {
  opacity: 0.5;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem;
}

.btn {
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 18px 40px;
}

.btn__support {
  background-color: var(--moderate-cyan);
  color: #fff;
}

.btn__support:hover {
  background-color: var(--dark-cyan);
  transition: 2s ease-in;
}

.btn__bookmark {
  background-image: url("./images/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: left;
  color: var(--background-color);
  object-fit: cover;
}

.btn__bookmark > span {
  margin-left: 2.5rem;
}

.donation__card {
  background-color: #fff;
  border-radius: 10px;
  margin: 10.5em 0;
  padding: 2rem 4rem;
  height: 200px;
  width: 680px;
}

.donation__top {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.donation__description {
  font-size: 14px;
  opacity: 0.5;
}

.donation__money,
.donation__total {
  border-right: 1px solid #eee;
}

.donation__total,
.donation__day {
  padding: 0 2rem;
}

.donation__bar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 3rem;
  width: 100%;
  height: 10px;
}

.donation__bar::after {
  content: "";
  position: absolute;
  width: 33%;
  height: 10px;
  background-color: var(--moderate-cyan);
  border-radius: 10px;
}

.about__card {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  margin: 24.5em 0;
  padding: 2rem 4rem;
  height: 1080px;
  width: 680px;
}

.about__heading {
  font-size: 16px;
  padding: 2rem 0;
}

.about__description__one,
.about__description__two {
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.5;
}

.about__description__two {
  padding: 2rem 0;
}

.card__bamboo {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 2rem;

}

.card__top,
.card__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__top > a:hover {
  color: var(--dark-cyan);
  transition: 2s ease-in;
}

.top__heading {
  font-size: 16px;
}

.top__descritpion {
  color: var(--moderate-cyan);
  font-weight: bold;
  font-size: 14px;
}

.bamboo__description {
  font-size: 13px;
  line-height: 1.8;
  padding: 1.3rem 0;
  opacity: 0.5;
}

.bottom__button {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 12px 30px;
}

.faded {
  opacity: .5;
}

.faded .bottom__button {
  background-color: var(--background-color);
}