@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

/*  NORMALIZING THE ELEMENTS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 48%);
}

body {
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

small {
  font-size: 13px;
  font-weight: normal;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 65vh;
  position: relative;
  padding: 2rem 10rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links .header__link {
  color: #fff;
  display: inline-block;
  list-style-type: none;
}

.anchor__link {
  color: #fff;
  text-decoration: none;
  padding: 0 0.8rem;
  font-size: 14px;
}

.anchor__link:hover {
  position: relative;
  color: #fff;
  transition: 3s linear;
}

.anchor__link:hover::after {
  content: "";
  height: 2px;
  width: 95%;
  background-color: #fff;
  position: absolute;
  top: 1.4rem;
  left: 0;
  transition: 3s linear;
}

.master__card {
  background-color: #fff;
  border-radius: 10px;
  height: 250px;
  position: absolute;
  text-align: center;
  top: 19rem;
  width: 600px;
}

.card__img {
  left: 17rem;
  position: absolute;
  top: -1.7rem;
}

.card__heading {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 3rem 1rem 0.5rem 1rem;
}

.card__description {
  font-size: 15px;
  opacity: 0.5;
  padding-top: 0.5rem;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 2rem;
}

.btn {
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 18px 40px;
}

.btn__support {
  background-color: var(--moderate-cyan);
  color: #fff;
}

.btn__support:hover {
  background-color: var(--dark-cyan);
  transition: 2s ease-in;
}

.btn__bookmark {
  padding: 0px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.btn__bookmark > span {
  margin: 0 1.5rem;
  font-weight: bold;
}

.donation__card {
  background-color: #fff;
  border-radius: 10px;
  margin: 9em 0;
  padding: 2rem;
  height: 200px;
  width: 600px;
}

.donation__top {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.donation__description {
  font-size: 14px;
  opacity: 0.5;
}

.donation__money,
.donation__total {
  border-right: 1px solid #eee;
}

.donation__total,
.donation__day {
  padding: 0 2rem;
}

.donation__bar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 3rem;
  width: 100%;
  height: 10px;
}

.donation__bar::after {
  content: "";
  position: absolute;
  width: 28%;
  height: 10px;
  background-color: var(--moderate-cyan);
  border-radius: 10px;
}

.about__card {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  margin: 23em 0;
  padding-bottom: 30rem;
  padding: 2rem 2rem;
  height: 1080px;
  width: 600px;
}

.about__heading {
  font-size: 16px;
  padding: 2rem 0;
}

.about__description__one,
.about__description__two {
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.5;
}

.about__description__two {
  padding: 2rem 0;
}

.card__bamboo {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 2rem;
}

.card__top,
.card__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__top > a:hover {
  color: var(--dark-cyan);
  transition: 2s ease-in;
}

.top__heading {
  font-size: 16px;
}

.top__descritpion {
  color: var(--moderate-cyan);
  font-weight: bold;
  font-size: 14px;
}

.bamboo__description {
  font-size: 13px;
  line-height: 1.8;
  padding: 1.3rem 0;
  opacity: 0.5;
}

.bottom__button {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 12px 30px;
}

.faded {
  opacity: 0.5;
}

.faded .bottom__button {
  background-color: var(--background-color);
}

.select:hover {
  background-color: var(--dark-cyan);
  transition: 2s ease-out;
}

/* modal styling  */
.modal__container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 145vh;
  width: 98.9vw;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  padding: 2rem;
  width: 600px;
  height: 780px;
  margin-top: 10rem;
  border-radius: 10px;
}

.modal__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal__body {
  padding-top: 0.3em;
}

.modal__heading {
  font-size: 18px;
}

.modal__description {
  font-size: 13px;
  opacity: 0.6;
  padding: 0.8em 0;
}

.modal__close {
  background-image: url("./images/icon-close-modal.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.modal__pledge {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 1em 0em 2em 0em;
  margin: 1em 0;
}

i.fa-circle {
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 400;
}

/* i.fa-dot-circle {
  font-size: 25px;
  font-weight: 400;
  border: 1px solid #f5f5f5;
  display: flex;
} */

i.fa-circle:hover {
  color: var(--moderate-cyan);
}

.pledge__flex {
  padding: 0.5em 1.6em 0em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pledge__flex > span {
  font-weight: bold;
}

.pledge__heading {
  cursor: pointer;
  font-size: 13px;
  padding: 0 1.5em;
}

.pledge__description {
  font-size: 12px;
  opacity: 0.6;
  padding: 1em 1.8em 0em 3em;
  line-height: 1.6;
}

.pledge__money {
  color: var(--moderate-cyan);
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
}

.pledge__list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pledge__list:hover {
  color: var(--moderate-cyan);
}

.pledge__bottom {
  border-top: 1px solid #f5f5f5;
  margin-top: 1rem;
  padding: 1em 2em 0em 2em;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.pledge__bottom.active {
  display: flex;
}



.pledge__form > input {
  width: 70px;
  height: 40px;
  padding: 1em;
  outline: none;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  margin-right: 0.6em;
}

.pledge__form .pledge__button {
  width: 90px;
  height: 40px;
  background-color: var(--dark-cyan);
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--dark-cyan);
  font-weight: bold;
}

.pledge__form > input:hover {
  border: 1px solid var(--moderate-cyan);
}

.pledge__title {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}
