%btn {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 0.8rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border: 0;
  background: $gradient;
  text-decoration: none;
  color: $white;
  display: inline-block;
}

.btn__header {
  @extend %btn;
  position: relative;
  left: 9rem;
}

.btn__header:hover,
.btn__footer:hover {
  opacity: 0.7;
  transition: 2s ease;
}

.btn__next {
  @extend %btn;
  margin-top: 1.5rem;
}

.btn__footer {
  @extend %btn;
  margin-left: 4em;
  margin-bottom: 2.5em;
}
